<div *ngIf="playerPangolin">
    <h2>Hello, {{playerPangolin.username}}</h2>
    <img src="../../../assets/pictures/{{playerPangolin.role}}.png" alt="{{playerPangolin.role}} Class Image">
    <div>
        <p>{{playerPangolin.role}}, Level {{playerPangolin.level}}</p>
        <button (click)="onClick()">Change Role</button>
    </div>
    <div *ngIf="showRoles">
        <div class="roles" *ngFor="let role of roles">
            <app-button (click)="changeRole(playerPangolin, role)" text="{{role}}"></app-button>
            <img src="../../../assets/pictures/{{role}}.png" alt="">
        </div>
    </div>
</div>

<app-friends-list *ngIf="playerPangolin"></app-friends-list>